<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Stylesheets -->
    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/bootstrap.css" />
    <link rel="stylesheet" href="../assets/css/responsive-bootstrap.css" />

    <!-- Title -->
    <title>My Blog</title>
  </head>
  <body class="bg-aliceblue">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid container">
        <a class="navbar-brand" href="#">
          <img src="../assets/images/dumbways.png" alt="Logo" class="w-1" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link fw-semibold" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-semibold" href="/blog">My Blog</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link fw-semibold"
                href="/testimonial"
              >Testimonials</a>
            </li>
          </ul>
          <button class="btn bg-orange text-light">
            <a
              href="/contact"
              class="text-decoration-none text-light"
            >Contact</a>
          </button>
        </div>
      </div>
    </nav>

    <!-- Blogs Content -->
    <div class="content container blog-content py-5">
      <h2 class="text-center fs-3 fw-semibold">MY BLOG</h2>
      <hr class="line" />
      <div class="container w-100 d-flex justify-content-end">
        <button class="btn btn-warning text-light h-25 rounded-pill d-flex">
          <a href="/add-blog" class="text-decoration-none text-light">Add New
            Blog</a>
        </button>
      </div>
      <div
        class="grid-content row row-cols-1 row-cols-sm-2 row-cols-md-4 gap-5 d-flex justify-content-center align-items-center mt-5"
        id="blog"
      >
        <!-- Blog Card -->
        {{#each data}}
          <div
            class="card-item col rounded-1 d-flex flex-column justify-content-center b-s"
          >
            <div class="card-image w-100">
              <a href="/detail-blog">
                <img
                  src="{{image}}"
                  alt="..."
                  class="w-100 h-8 mt-3 rounded-1"
                />
              </a>
            </div>
            <div class="item w-100">
              <a href="/detail-blog" class="text-decoration-none text-black">
                <div class="description">
                  <div class="heading">
                    <h3 class="fs-5 mt-3">{{title}}</h3>
                    <span class="time">{{start}}</span>
                    <span class="time">{{end}}</span>
                  </div>
                  <p>
                    {{description}}
                  </p>
                </div>
              </a>
              <div class="language mb-3 d-flex gap-3">
                {{nodeImage}}
                {{reactImage}}
                {{angularImage}}
                {{golangImage}}
              </div>
              <div>
                <form
                  class="button-field pb-3 d-flex gap-1"
                  method="POST"
                  action="/delete-blog/{{@index}}"
                >
                  <a
                    href="/edit-blog/{{@index}}"
                    class="btn w-100 bg-black text-light border-none rounded-1"
                  >
                    Edit
                  </a>
                  <button
                    class="btn w-100 bg-black text-light border-none rounded-1"
                  >
                    Delete
                  </button>
                </form>
              </div>

            </div>
          </div>
        {{/each}}
      </div>
    </div>

    <!-- JavaScript Libraries -->
    <script
      src="https://kit.fontawesome.com/ebda1b5b9f.js"
      crossorigin="anonymous"
    ></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>